.view__default {
  background: #2A2A2A;
  min-height: 100vh; 
  padding: 8%;
  position: relative;
}

.title--simple {
  color: $color-orange;
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
}

.title--centered {
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

.title--spacer {
  margin-top: 50px;
}

.subtitle {
  font-size: 26px;
  color: #696969;
  font-weight: bold;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-flow: row wrap;

  div {
    flex: 1 0 400px;
  }
}

.button {
  background: white;
  color: rgba(black, 0.8);
  text-transform: uppercase;
  width: 240px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 30px;

  &:hover {
    background: $color-orange;
  }
}

.button--modal {
  &:hover {
    background: rgb(199, 199, 199);
  }
}

.modal__message {
  @include squared(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.modal__message--vertical {
  flex-flow: column;
}